<html>
<head>
</head>
<body>
<form action="print" method="post">
<table border=1 cellpadding=5 style="border-collapse:collapse">
<tr><td><b>Field Name</b></td><td><b>Field Type</b></td><td><b>Field Value</b></td><td><b>Visible</b></td></tr>
{% for item in items %}
    <tr>
        <td>{{ item.ID }}</td>
        <td style="text-align:center;"><span style="font-family:Lucida Console, Monaco, monospace;">{{ item.type }}</span></td>
        <td><input type="text" size="60" name="{{ item.ID }}_string" value="{{ item.data }}" {{ item.fixed }}></td>
        <td><input type="checkbox" name="{{ item.ID }}_bool"</td>
    </tr>
{% endfor %}
</table>
<br />
<input type="submit"> 
</form>
</body>
</html>
